%main.container
  %h1.general-title-margin= t('settings')
  .tab-content
    .row.mb-60
      .col-sm-5
        %p.in-gold-500.font-18.mb-25= t('auth.email')
        = form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {class: 'general-form-md'}) do |f|
          .form-group.mb-35
            %label.control-label.input-label{for: "email"} Enter Email
            %input#email.form-control{name:"email", type: "email", placeholder: "Enter your email"}
          .general-text-align
            %button.btn.btn-default.mb-35 Save
      .col-sm-5.col-sm-offset-1
        %p.in-gold-500.font-18.mb-25 Password
        %form.general-form-md.divider-lg-bottom.pb-25
          .form-group.mb-30
            %label.control-label.input-label{for: "oldPassword"} Old Password
            %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
          .form-group.mb-30
            %label.control-label.input-label{for: "password"} New Password
            %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
          .form-group.mb-40
            %label.control-label.input-label{for: "confirmPassword"} Confirm Password
            %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
          .general-text-align
            %button.btn.btn-default.mb-10 Save
      .col-sm-12
        %p.in-gold-500.font-18.mb-25= t('auth.remove_account')
        %div
          .general-settings-btn
            #{button_to t('auth.remove_account_please'), registration_path(resource_name), data: { confirm: "Are you sure?" }, id: 'btn-remove-account', class: 'btn disabled btn-default mb-20', method: :delete}
          .form-group.checkbox.general-settings-checkbox
            %label.checkbox-label
              %input#checkbox-remove-account.checkbox-input{type: "checkbox", hidden: "true"}
              %span.checkbox-icon
                %i.fa.fa-check
              %span.checkbox-text= t('auth.remove_understand')

-#%h2
-#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
-#  = devise_error_messages!
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true, autocomplete: "email"
-#  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
-#    %div
-#      Currently waiting confirmation for: #{resource.unconfirmed_email}
-#  .field
-#    = f.label :password
-#    %i (leave blank if you don't want to change it)
-#    %br/
-#    = f.password_field :password, autocomplete: "new-password"
-#    - if @minimum_password_length
-#      %br/
-#      %em
-#        = @minimum_password_length
-#        characters minimum
-#  .field
-#    = f.label :password_confirmation
-#    %br/
-#    = f.password_field :password_confirmation, autocomplete: "new-password"
-#  .field
-#    = f.label :current_password
-#    %i (we need your current password to confirm your changes)
-#    %br/
-#    = f.password_field :current_password, autocomplete: "current-password"
-#  .actions
-#    = f.submit "Update"
-#%h3 Cancel my account
-#%p
-#  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
-#= link_to "Back", :back
